<header class="header">
  <a class="logo">Hygimeter</a>
  <nav class="navbar">

    <!-- Conditionally show the dashboard navigation if logged in -->
    <div *ngIf="isLoggedIn">
      <ul class="nav-menu">
        <li><a href="#" class="nav-item" [routerLink]="'/dashboard'">Dashboard</a></li>
        <li><a href="#" class="nav-item" [routerLink]="'/user-profile'">Profile</a></li>
        <li><span class="username">{{email}}</span></li>
        <li><div class="avatar">{{email.charAt(0)}}</div></li>
        <li><a (click)="logout()" class="btn btn-logout">Log off</a></li>
      </ul>
    </div>

    <!-- Default navigation menu -->
    <div *ngIf="!isLoggedIn">
      <ul class="nav-menu">
        <li><a class="nav-item" [routerLink]="'/home'">Home</a></li>
        <li><a class="nav-item">Solutions</a></li>
        <li><a class="nav-item">Company</a></li>
        <li><a class="nav-item">Pricing</a></li>
        <li><a class="nav-item">Contact</a></li>
        <li><a class="btn btn-register" [routerLink]="'/registration'">Register</a></li>
        <li><a class="btn btn-login" [routerLink]="'/login'">Login</a></li>
      </ul>
    </div>
  </nav>
</header>
