@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.page-container {
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1; /* Allows content to expand and push footer down */
  min-height: calc(100vh - 40px);
}

.footer {
  background-color: #495E7D;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
  margin-top: auto; /* Keeps footer at the bottom */
}

.footer-section h5 {
  color: #aaa;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 2.5;
  font-weight: 400;
}

.container {
  width: 80%;
  margin: 0 auto; /* Centers the container */
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom {
  background-color: #3C4C66;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .container {
    width: 90%; /* Increase width on smaller screens */
  }
}
