<div class="content-wrap-horizontal">
  <div class="content-wrap-vertical">
    <main>
      <aside>
        <section>
          <h3>Today's Temperature</h3>
          <p>75°F / 24°C</p>
        </section>

        <section>
          <h3>Humidity Levels</h3>
          <p>58% Relative Humidity</p>
        </section>

        <section>
          <h3>Wind Speeds</h3>
          <p>10 mph Northeast</p>
        </section>
      </aside>

      <div class="topics">
        <article *ngFor="let article of articles" [id]="article.id" [routerLink]="['/topic', article.id]">
          <h2>{{ article.name }}</h2>
          <img [src]="article.image" loading="lazy"/>
        </article>
      </div>

    </main>
  </div>
</div>
