/* General Styles */
body, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #e5e5e5;
  color: #333;
  line-height: 1.6;
}

.content-wrap-horizontal {
  display: flex;
  justify-content: center;
}

.content-wrap-vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 69.25vh;
  max-height: 69.25vh;
}

/* Header and Navigation Styles */
header {
  background-color: #0057b8;
  color: white;
  padding: 1em 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #0066cc;
}

/* Main Content Styles */
main {
  display: flex;
}

div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates a responsive grid layout */
  gap: 20px; /* Spacing between grid items */
  padding: 20px; /* Padding around the main content */
  flex-grow: 5;
}

article {
  background-color: white;
  padding: 20px; /* Consistent padding for all cards */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px; /* Rounded corners for cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

article h2 {
  font-family: 'Montserrat', serif;
  color: #0057b8;
  margin-bottom: 10px;
}

/* Sidebar Styles */
aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 300px;
  flex: 1;
}

aside section {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Specific Styles for the Temperature Section */
aside section:first-child {
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  color: white;
  border-radius: 20px;
  align-items: flex-start;
}

aside section:first-child h3,
aside section:not(:first-child) h3 {
  font-size: 1.5em; /* Adjust size as needed */
  margin-bottom: 0.5em;
}

aside section:first-child p,
aside section:not(:first-child) p {
  font-size: 1.2em; /* Adjust size as needed */
  font-weight: bold;
}

/* Footer Styles */
footer {
  background-color: #0057b8;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: 1em;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  main {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }

  main, aside {
    padding: 1em;
  }

  article, aside section {
    margin: 1em;
    box-shadow: none;
  }

  article h2, aside h3 {
    font-size: 1.2em;
  }
}
