<div class="content-wrap-horizontal">
  <div class="content-wrap-vertical">
    <div class="container">
      <div class="profile-section">
        <div class="profile-image">
        </div>
        <h2>My profile</h2>
        <div class="profile-info">
          <div class="info-item">
            <label>Name</label>
            <input type="text" [(ngModel)]="retrievedUser.name" required (input)="setFieldChanged('name')">
          </div>
          <div class="info-item">
            <label>Surname</label>
            <input type="text" [(ngModel)]="retrievedUser.surname" required (input)="setFieldChanged('surname')">
          </div>
          <div class="info-item">
            <label>Email</label>
            <input type="text" [(ngModel)]="retrievedUser.email" required (input)="setFieldChanged('email')">
          </div>
          <button class="save-btn" [disabled]="!isFormChanged()" (click)="updateUserData()">Save</button>
        </div>
      </div>
      <div class="account-section">
        <div class="xpay-section">
          <h2>My Plans</h2>
          <div class="accounts">
            <div class="account-item">
              <span>Plan name</span>
              <button class="unlock-btn">Details</button>
            </div>
            <div class="account-item">
              <span>Plan name</span>
              <button class="unlock-btn">Details</button>
            </div>
          </div>
        </div>
      </div>
      <img src="/assets/profile-my-data.png" class="profile-my-data">
      <img src="/assets/profile-plans.png" class="profile-plans">
    </div>
  </div>
</div>
